/*

Design settings:

--- 01 TYPOGRAPHY SYSTEM (px)

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 500
Medium:
Semi-bold:
Bold: 700

- Line heights:
Default: 1
Small: 1.05
Medium:
Paragraph default: 1.7


- Letter spacing:
Heading letter spacing:
Subheading letter spacing: 6px

--- 02 COLORS
(Primary with tints, shades and accent colors)

- Primary: hsl(158, 36%, 37%)
- Tints: hsl(158, 36%, 29%)
- Shades:
- Accents:
- Greys:
  - very dark: hsl(212, 21%, 14%),
  - dark: hsl(228, 12%, 48%)
  - very light: hsl(32, 37%, 92%)
- White: hsl(0, 0%, 100%)

--- 03 IMAGES
- No system

--- 04 ICONS
- source: https://heroicons.com/

--- 05 SHADOWS
- No system

--- 06 BORDER RADIUS
- Default: 8px
- Medium:

--- 07 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Fraunces', serif;
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(60, 128, 103, 0.5);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
  line-height: 1;
}

h1 {
  line-height: 1.05;
}

img {
  display: block;
  height: auto;
}

button {
  font-family: "Montserrat", sans-serif;
  outline: none;
  border: none;
  cursor: pointer;
}

a:link,
a:visited {
  text-decoration: none;
}

/* ******************************** */
/* Layout STYLES */
/* ******************************** */

.product-preview {
  max-width: 144rem;
  margin: 6.4rem auto 0 auto;
  overflow: hidden;
}

.product-img {
  flex: 0 0 44rem;
}

.product-img img {
  width: 100%;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
}

.product-details {
  flex: 0 0 44rem;
  background-color: hsl(0, 0%, 100%);
  padding: 4.8rem;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
}

.product-pricing {
  margin-bottom: 3.2rem;
  gap: 1.6rem;
}

/* ******************************** */
/* TYPOGRAPHY REUSABLE STYLES */
/* ******************************** */

.product-subheading {
  display: block;
  margin-bottom: 2.4rem;
  margin-left: 0.4rem;
  font-size: 1.6rem;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.heading-primary {
  margin-bottom: 3.2rem;
  max-width: 10ch;
  font-family: "Fraunces", serif;
  font-size: 5.2rem;
  color: hsl(212, 21%, 14%);
}

.btn--product {
  width: 100%;
  background-color: hsl(158, 36%, 37%);
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  border-radius: 8px;
  gap: 1.2rem;
}

.btn--product:hover,
.btn--product:active {
  background-color: #306652;
}

.btn-icon {
  width: 2.4rem;
  height: 2.4rem;
}

/* ******************************** */
/* TYPOGRAPHY STYLES */
/* ******************************** */

.product-description {
  margin-bottom: 4.8rem;
  max-width: 26ch;
  font-size: 2rem;
  line-height: 1.7;
}

.product-price--new {
  font-family: "Fraunces", serif;
  font-size: 4.4rem;
  color: hsl(158, 36%, 37%);
}

.product-price--old {
  font-size: 2rem;
  text-decoration: line-through;
}

/* ******************************** */
/* COMPONENTS */
/* ******************************** */

.btn {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  transition: all 200ms ease-in-out;
}

/* ******************************** */
/* UTILITIES */
/* ******************************** */

.flex {
  display: flex !important;
}

.jc-center {
  justify-content: center !important;
}

.al-center {
  align-items: center !important;
}

/* ******************************** */
/* MEDIA QUERIES */
/* ******************************** */

/* 1000px breakpoint */
@media all and (max-width: 62.5em) {
  html {
    /* 8.5px / 16px */
    font-size: 53.125%;
  }
}

/* 800px breakpoint */
@media all and (max-width: 50em) {
  html {
    /* 6.5px / 16px */
    font-size: 40.625%;
  }

  .product-subheading {
    font-size: 2rem;
  }

  .product-price--old {
    font-size: 2.4rem;
  }

  .btn {
    font-size: 2.4rem;
  }
}

/* 640px breakpoint */
@media all and (max-width: 40em) {
  body {
    padding: 0 3.2rem 0 3.2rem;
  }

  .product-preview {
    max-width: 100%;
    margin: 6.4rem auto 0 auto;
  }

  .product-details {
    border-top-right-radius: 0;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
  }

  .product-img img {
    height: 65rem;
    object-fit: cover;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 0;
  }

  .product-subheading {
    font-size: 2.4rem;
  }

  .heading-primary {
    max-width: 14ch;
  }

  .product-description {
    max-width: 32ch;
    font-size: 2.4rem;
  }

  .btn {
    font-size: 3rem;
  }

  .product-price--new {
    font-size: 6.2rem;
  }

  .product-price--old {
    font-size: 3rem;
  }

  .btn-icon {
    width: 3.2rem;
    height: 3.2rem;
  }

  .flex-dir-column--md {
    flex-direction: column;
  }
}

/* 404px breakpoint */
@media all and (max-width: 25.25em) {
  html {
    /* 5.8px / 16px */
    font-size: 36.25%;
  }
}
